:root {
  --g-color-theme: #189eff;
  --g-color-text: #444444;
  --g-color-text-light: #ffffff;
  --g-color-border: #cccccc;
  --g-color-background: #f0f0f0;
  --g-color-background-revert: #222222;
  --g-gutter: 20px;
  --g-size-width: 1200px;
  --g-site-header-height: 60px;
  --g-site-footer-height: 40px;
  --g-body-font-stack: "Open Sans", sans-serif;
  --g-body-font-weight: normal;
  --g-body-font-size: 14px;
  --g-font-h1: 56px;
  --g-font-h2: 32px;
  --g-font-h3: 24px;
  --g-z-index-header: 10;
  --g-z-index-loading: 9999;
  --g-transition-common: all 0.2s ease-in-out;
  --g-box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 0.1);
  --g-box-shadow-bottom: 0px 15px 15px -15px rgba(20, 20, 20, 0.1); }

* {
  box-sizing: border-box;
  margin: 0;
  outline: none; }

html {
  width: 100vw;
  overflow-x: hidden; }

body {
  color: var(--g-color-text);
  font-size: var(--g-body-font-size);
  font-family: var(--g-body-font-stack);
  font-weight: var(--g-body-font-weight);
  font-style: normal;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin-bottom: 7px; }

img {
  max-width: 100%; }

.h1,
h1,
.h2,
h2,
.h3,
h3 {
  margin-top: 0; }

.h1,
h1 {
  font-size: var(--g-font-h1);
  line-height: 72px;
  letter-spacing: 1.5px; }

.h2,
h2 {
  font-size: var(--g-font-h2);
  line-height: 40px;
  letter-spacing: 1.5px; }

.h3,
h3 {
  font-size: var(--g-font-h3);
  line-height: 28px;
  letter-spacing: 1.5px; }

.h1.uppercase,
h1.uppercase,
.h2.uppercase,
h2.uppercase {
  letter-spacing: 5.3px; }

.h3.uppercase,
h3.uppercase {
  letter-spacing: 4.5px; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.font-medium {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.font-italic {
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-right {
  text-align: right; }

.no-wrap {
  white-space: nowrap; }

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.link {
  text-decoration: none;
  color: inherit;
  transition: var(--g-transition-common);
  cursor: pointer; }
  .link:hover {
    color: var(--g-color-theme); }
