* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--g-color-text);
  font-size: var(--g-body-font-size);
  font-family: var(--g-body-font-stack);
  font-weight: var(--g-body-font-weight);
  font-style: normal;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 7px;
}

img {
  max-width: 100%;
}

.h1,
h1,
.h2,
h2,
.h3,
h3 {
  margin-top: 0;
}
.h1,
h1 {
  font-size: var(--g-font-h1);
  line-height: 72px;
  letter-spacing: 1.5px;
}
.h2,
h2 {
  font-size: var(--g-font-h2);
  line-height: 40px;
  letter-spacing: 1.5px;
}
.h3,
h3 {
  font-size: var(--g-font-h3);
  line-height: 28px;
  letter-spacing: 1.5px;
}
.h1,
h1,
.h2,
h2 {
  &.uppercase {
    letter-spacing: 5.3px;
  }
}
.h3,
h3 {
  &.uppercase {
    letter-spacing: 4.5px;
  }
}
