:root {
  // Colors
  --g-color-theme: #189eff;
  --g-color-text: #444444;
  --g-color-text-light: #ffffff;
  --g-color-border: #cccccc;
  --g-color-background: #f0f0f0;
  --g-color-background-revert: #222222;

  // Sizing variables
  --g-gutter: 20px;
  --g-size-width: 1200px;
  --g-site-header-height: 60px;
  --g-site-footer-height: 40px;

  // Typography
  --g-body-font-stack: "Open Sans", sans-serif;
  --g-body-font-weight: normal;
  --g-body-font-size: 14px;
  --g-font-h1: 56px;
  --g-font-h2: 32px;
  --g-font-h3: 24px;

  // z-index
  --g-z-index-header: 10;
  --g-z-index-loading: 9999;

  // Others
  --g-transition-common: all 0.2s ease-in-out;
  --g-box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 0.1);
  --g-box-shadow-bottom: 0px 15px 15px -15px rgba(20, 20, 20, 0.1);
}
