#site-footer {
  height: var(--g-site-footer-height);
  line-height: var(--g-site-footer-height);
  color: var(--g-color-text-light);
  background-color: var(--g-color-background-revert);
  padding: 0 var(--g-gutter);
}
